<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">
      Members : <%= @trainers.size + @trainees.size %>
    </h3>
    <div class="box-tools pull-right">
    </div>
  </div>
  <div class="box-body">
    <div class="col-md-6">
      <h4>Trainers :  <%= @trainers.size %></h4>
      <%= render partial: "component/member_component/member_item", collection: @trainers, as: :user%>
    </div>
    <div class="col-md-6">
      <h4>Trainees : <%= @trainees.size %></h4>
      <%= render partial: "component/member_component/member_item", collection: @trainees, as: :user%>
    </div>
  </div>
</div>
