<div class="box-body" id="profile-form-update">
  <%= form_for @user, html: {class: "form-horizontal form-bordered"},
   as: :user, url: update_profile_path(@user), method: :put, remote: true do |f| %>
    <div class="form-group" id="name-form">
      <label class="col-md-4 control-label" for="val_username">Name
        <span class="text-danger">*</span>
      </label>
      <div class="col-md-6">
        <%= f.text_field :name, class: "form-control", placeholder: "Your name.." %>
        <span id="name-error" class="error-message"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="val_username">Email
        <span class="text-danger">*</span>
      </label>
      <div class="col-md-6">
          <%= f.text_field :email, class: "form-control", disabled: true %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="val_username">University
      </label>
      <div class="col-md-6">
        <%= f.text_field :university, class: "form-control", placeholder: "Your university.." %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="val_username">Program
      </label>
      <div class="col-md-6">
          <%= f.text_field :program, class: "form-control", placeholder: "Your program.." %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="val_username">Program
      </label>
      <div class="col-md-6">
        <% if current_user.admin? %>
          <%= f.select :suppervisor, [['Trainer', 'trainer'], ['Trainee', 'trainee']] %>
        <% else %>
          <%= f.text_field :suppervisor, class: "form-control", disabled: true, value: "trainee" %>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="val_username">Date Start
      </label>
      <div class="col-md-6">
          <%= f.text_field :date_start, class: "form-control", disabled: true %>
      </div>
    </div>
    <div class="form-group form-actions">
      <div class="col-md-8 col-md-offset-4">
        <%= f.submit class: "btn btn-sm btn-primary" do %>
          <i class="fa fa-floppy-o"></i>
        <% end %>
      </div>
    </div>
  <% end %>
  <button id="profile-cancel", class="btn btn-sm btn-warning"><i class="fa fa-window-close"></i> Cancel</button>
  <hr>
</div>
<style type="text/css">
  .btn-save {
    position: absolute;
    bottom: 0px;
    right: 25px;
  }
  .btn-warning {
    position: absolute;
    bottom: 51px;
    right: 310px;
  }
</style>
