<div class="row">
  <div class="col-md-6 col-md-offset-3" style="width: 90%">
    <h2 style="text-align: center;">Create New User</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <%= f.label :name, "User name (*)" %>
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
    <div style="padding: 10px 0px;">
        <%= f.label :gender %>
        <div class="pretty p-icon p-round">
            <%= f.radio_button :gender, "male", :checked => true %>
            <div class="state p-primary">
                <i class="icon mdi mdi-check"></i>
                <%= f.label :gender, "Male", :value => "male"  %>
            </div>
        </div>
        <div class="pretty p-icon p-round">
            <%= f.radio_button :gender, "female" %>
            <div class="state p-primary">
                <i class="icon mdi mdi-check"></i>
                <%= f.label :autolyse, "Female", :value => "female" %>
            </div>
        </div>
    </div>


    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>

    <%= f.label :university %>
    <%= f.text_field :university, class: "form-control" %>

    <%= f.label :program %>
    <%= f.text_field :program, class: "form-control" %>

    <%= f.label :avatar do %>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
    <% end %>

    <%= f.label :suppervisor, "Type user" %>

    <% if current_user.admin? %>
        <%= f.select :suppervisor, [['Trainer', 'trainer'], ['Trainee', 'trainee']] %>
    <% else %>
        <%= f.text_field :suppervisor, class: "form-control", disabled: true, value: "trainee" %>
    <% end %>
    <%= f.submit "Create", class: "btn btn-primary", id: "submit" %>
    <% end %>
  </div>
</div>

