<div class="row">
  <div class="col-md-6 col-md-offset-3" style="width: 90%">
    <h2 style="text-align: center;">Create New User</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <%= f.label :name, "User name (*)" %>
    <%= f.text_field :name, autofocus: true, class: "form-control" %>

    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>

    <%= f.label :university %>
    <%= f.text_field :university, class: "form-control" %>

    <%= f.label :program %>
    <%= f.text_field :program, class: "form-control" %>

    <%= f.label :suppervisor, "Type user" %>
    <%= f.select :suppervisor, [['Trainer', true], ['Trainee', false]] %>

    <%= f.submit "Create", class: "btn btn-primary", id: "submit" %>
    <% end %>
  </div>
</div>

