    <div class="checkbox" id="trainee-added-<%= coursesubject.id %>">
      <% load_subject_of coursesubject %>
      <input type="checkbox" id="trainee_uc<%= coursesubject.id %>" name="ids[]" value="<%= coursesubject.id %>"/>
      <label style ="padding: 0px;" for="trainee_uc<%= coursesubject.id %>">
        <span></span><%= @subject.name %>
      </label>
    </div>
