    <div class="checkbox" id="trainee-adding-<%= subject.id %>">
      <input type="checkbox" id="trainee_<%= subject.id %>" name="ids[]" value="<%= subject.id %>"/>
      <label style ="padding: 0px;" for="trainee_<%= subject.id %>">
        <span></span><%= subject.name %>
      </label>
    </div>
