<% provide :title,  "Select subject" %>
<% provide :button_text, "Save" %>
<div class="row">
  <div class="col-md-6 col-md-offset-3" style="width: 90%">
    <h2 style="text-align: center;color: red">
      <%= link_to @course.name, @course %>
      <small>Subject Select</small></h2>
    <h5 style="text-align: center;color: blue">
      <%= link_to "Edit Course", edit_course_path(@course) %>
      <%= link_to "User of Course", user_courses_path(course_id: @course.id) %>
    </h5>
   <div class="courses-index">
    <div class="course-container xt-height content-block active" id="trainer">
      <table>
        <tr>
          <div class="search-form">
              <%= form_tag course_subjects_path, method: "get", id: "subject_search" do %>
                <%= hidden_field_tag :course_id, @course.id %>
                <%= text_field_tag :search, params[:search], class: "search-input", placeholder: "Input name subject" %>
                <%= submit_tag "Search", class: "search-btn" %>
              <% end %>
            </div>
        </tr>
        <tr>
          <td>
            <h4 style="color: green">Course's Subjects</h4>
            <%= form_for @course.course_subjects.build, :url => {:action => "del_course_subjects"} do %>
              <%= hidden_field_tag :course_id, @course.id %>
              <% define_column @course_subjects %>
              <div class="list" id="trainer-added-list" style="height: 200px;">
                <% if @course_subjects.size == 0 %>
                  <label>Let's add subjects for course</label>
                <% end %>
                <%= render partial: "subject_added", collection: @course_subjects, as: :coursesubject %>
              </div>
              <div>
                <button type="submit" class="btn btn-primary">Remove from Course</button>
              </div>
            <% end %>
          </td>
          <td>
            <% if @all_subjects.present? %>
              <h4 style="color: #2c028a">Another Subjects</h4>
              <%= form_for @course.course_subjects.build do %>
                <%= hidden_field_tag :course_id, @course.id %>
                <% define_column @all_subjects %>
                <div id="trainer-list" style="height: 200px">
                  <%= render partial: "subject_adding", collection: @all_subjects,
                    as: :subject %>
                </div>
                <div>
                  <button type="submit" class="btn btn-primary">Add into Course</button>
                </div>
                <% end %>
              </div>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
   </div>
  </div>
</div>


