<li>
  <% subject = course_subject.subject %>
  <span class="label timeline-label start_date_label">
    <!-- <% if course_subject.user_subjects.find_by(user_id: current_user.id).date_start.present? %>
      <%= course_subject.user_subjects.find_by(user_id: current_user.id).date_start %>
    <% else %>
      Not activated
    <% end %> -->
    <% if course_subject.date_start.present? %>
      <%= course_subject.date_start %>
    <% else %>
      Not activated
    <% end %>
  </span>
  <div class="subject-timeline subject">
    <!-- <% check_status_cs course_subject.user_subjects.find_by(user_id: current_user.id) %> -->
    <% check_status_cs course_subject %>
    <div class="subject-status-box <%= @status %>-background-color corner-ribbon">
      <%= t "courses._status.#{@status}" %>
    </div>
    <div class="div-status" title=<%= t "courses._status.#{@status}" %>>
      <em class="<%= @class_point %>"></em>
    </div>
    <div class="subject-body clearfix">
      <div class="subject-image">
        <%= image_tag(subject.avatar.url, class: "dp-img-circle") %>
      </div>
      <div class="infor">
        <div>
          <span class="subject-name"><%= link_to subject.name,
            show_subject_in_course_path(@course, subject) %></span>
        </div>
        <div class="td-subject-description">
          <%= subject.description %>
        </div>
      </div>
    </div>
  </div>
  <!-- <% if course_subject.user_subjects.find_by(user_id: current_user.id).finish? %>
    <span class="label timeline-label end_date_label">
       <%= course_subject.user_subjects.find_by(user_id: current_user.id).date_end %>
    </span>
  <% end %> -->
  <% if course_subject.finish? %>
    <span class="label timeline-label end_date_label">
       <%= course_subject.date_end %>
    </span>
  <% end %>
  <div class="clearfix"></div>
</li>


