<% provide :title, @course.name %>
<div class="content-header">
  <ol class="breadcrumb">
    <li><%= link_to root_path do %><i class="fa fa-dashboard"></i> Home<% end %></li>
    <li><%= link_to "My courses", mycourses_path %></li>
    <li class="active"><%= @course.name %></li>
  </ol>
</div>
<div class="dbox">
  <div class="dbox-header clearfix">
    <div class="col-md-12 course-subject">
      <div class="course-header">
        <span class="header-title"><%= @course.name %></span>
        <span class="courses-detail-status">
          <% check_status @course %>
          <span class="<%= @class %>">
            <%= t("courses._status.#{@status}") %>
          </span>
        </span>
        <% owner = User.find(@course.users_id) %>
        <div class="show-creator">
          <%= link_to profile_path(owner), style: "color: white;" do %>
            <%= image_tag(owner.avatar.url, class: "creator-image") %>
            <h4><%= owner.name %></h4>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="course-menu">
    <ul class="nav nav-tabs course-menu-items">
      <li class="active">
        <a id="active-timeline" data-toggle="tab">
          <i class="fa fa-book"></i> Subjects
        </a>
      </li>
      <li>
        <a id="active-member" data-toggle="tab">
          <i class="fa fa-address-book-o"></i> Members
        </a>
      </li>
    </ul>
  </div>
  <div class="course-show-body">
    <div class="col-md-12 col-list-subjects">
      <div class="course-container content-block active" id="timeline">
        <ul class="timeline timeline-inverse timeline-subject">
          <%= render partial: "subject", collection: @course_subjects, as: :course_subject %>
        </ul>
      </div>
      <div class="content-block" id="member" style="max-height: 100%">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">
              Members : <%= @trainers.size + @trainees.size %>
            </h3>
            <div class="box-tools pull-right">
            </div>
          </div>
          <div class="box-body">
            <div class="col-md-6">
              <h4>Trainers :  <%= @trainers.size %></h4>
              <%= render partial: "user", collection: @trainers, as: :user%>
            </div>
            <div class="col-md-6">
              <h4>Trainees : <%= @trainees.size %></h4>
              <%= render partial: "user", collection: @trainees, as: :user%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  td {
    width: 50%;
    border-right: 1px solid #eee;
  }
  .nav-tabs-custom {
    background: #d4d2d2;
  }
  nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #3c8dbc;
  }
  .nav-tabs .active a {
      background: rgb(145, 209, 255) !important;
  }
  .content-block {
    display: none;
  }
  .active {
    display: block;
  }
  .img-member{
    width: 30px;
    height: 30px
  }
</style>
