<% size = @trainee_courses.size %>
<% kt = false %>
<% if @count % @quality == 0 %>
  <td style="padding: 2px; border-right: 1px solid #adacac;">
<% end %>
    <div class="checkbox" id="trainee-adding-<%= trainee.id %>">
      <% @count += 1 %>
      <input type="checkbox" id="trainee_<%= trainee.id %>" name="ids[]" value="<%= trainee.id %>"/>
      <label style ="padding: 0px;" for="trainee_<%= trainee.id %>">
        <span></span><%= trainee.name %>
      </label>
    </div>
<% if kt %>
  </td>
<% end %>
