<% provide :title,  "Select User" %>
<section class="content-header">
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i>Courses</a></li>
    <li><%= link_to @course.name, @course %></li>
    <li class="active"><%= params[:option] %></li>
  </ol>
</section>
<div class="row">
  <div class="col-md-6 col-md-offset-3" style="width: 90%">
    <h2 style="text-align: center;color: red">
      <%= link_to @course.name, @course %>
      <small> subjects</small></h2>
  </div>
</div>
<div style="margin-top: 20px;">
  <ul class="nav nav-tabs three-tabs nav-tb-c" role="tablist">
    <li role="presentation" class="animated">
      <%= link_to edit_course_path(@course) do %>
        <span class="hidden-sm hidden-xs">Edit Course</span>
        <span class="visible-sm visible-xs"> Edit</span>
      <% end %>
    </li>
    <li role="presentation" class="animated">
      <%= link_to course_subjects_path(course_id: @course.id) do %>
        <span class="hidden-sm hidden-xs">Edit Course</span>
        <span class="visible-sm visible-xs"> Edit</span>
      <% end %>
    </li>
    <% if params[:option] == "trainee" %>
      <li role="presentation" class="active animated fadeIn">
        <%= link_to "#" do %>
          <span class="hidden-sm hidden-xs">Trainees</span>
          <span class="visible-sm visible-xs">Trainees</span>
        <% end %>
      </li>
      <li role="presentation" class="animated">
        <%= link_to user_courses_path(course_id: @course.id, option: "trainer") do %>
          <span class="hidden-sm hidden-xs">Trainers</span>
          <span class="visible-sm visible-xs">Trainers</span>
        <% end %>
      </li>
    <% else %>
      <li role="presentation" class="animated">
        <%= link_to user_courses_path(course_id: @course.id, option: "trainee") do %>
          <span class="hidden-sm hidden-xs">Trainees</span>
          <span class="visible-sm visible-xs">Trainees</span>
        <% end %>
      </li>
      <li role="presentation" class="active animated fadeIn">
        <%= link_to "#" do %>
          <span class="hidden-sm hidden-xs">Trainers</span>
          <span class="visible-sm visible-xs">Trainers</span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<div class="block">
  <div class="block-title">
    <h2><strong><%= params[:option] %></strong> of course</h2>
  </div>
  <div class="table-options clearfix">
    <div class="btn-group btn-group-sm pull-right">
      <%= form_tag user_courses_path, method: "get", id: "trainer_search" do %>
        <%= hidden_field_tag :course_id, @course.id %>
        <%= text_field_tag :search, params[:search], class: "search-input", placeholder: "Input name user" %>
        <%= submit_tag "Search", class: "search-btn" %>
      <% end %>
    </div>
  </div>
  <div class="table-responsive">
    <%= form_for @course.user_courses.build, url: {action: "del_user_courses"}, remote: true do %>
      <%= hidden_field_tag :course_id, @course.id %>
      <table class="table table-striped table-vcenter">
        <thead>
          <tr>
            <th class="text-center"><input type="checkbox" id="select_all_added"></th>
            <th class="text-center">Name</th>
            <th class="text-center">Email</th>
            <th class="text-center">University</th>
            <th class="text-center">Program</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody id="user-added">
          <% if @users_course.size == 0 %>
            <tr>
              <td colspan="6">
                Let's add trainer into course
              </td>
            </tr>
          <% end %>
          <%= render partial: "user_added", collection: @users_course, as: :usercourse %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6">
              <button type="submit" class="btn btn-primary btn-load">
                <i class="fa fa-times"></i>
              </button>
          </tr>
        </tfoot>
      </table>
    <% end %>
  </div>
</div>
<div class="block">
  <div class="block-title">
    <h2><strong><%= params[:option] %></strong> another</h2>
  </div>
  <div class="table-options clearfix">
    <div class="btn-group btn-group-sm pull-right">
      <%= form_tag user_courses_path, method: "get", id: "user_search" do %>
        <%= hidden_field_tag :course_id, @course.id %>
        <%= text_field_tag :search, params[:search], class: "search-input",
          placeholder: "Input name subject" %>
        <%= submit_tag "Search", class: "search-btn" %>
      <% end %>
    </div>
  </div>
  <div class="table-responsive">
    <%= form_for @course.user_courses.build, remote: true do %>
      <%= hidden_field_tag :course_id, @course.id %>
      <table class="table table-striped table-vcenter">
        <thead>
          <tr>
            <th class="text-center"><input type="checkbox" id="select_all_adding"></th>
            <th class="text-center">Name</th>
            <th class="text-center">Email</th>
            <th class="text-center">University</th>
            <th class="text-center">Program</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody id="user-adding">
          <% if @users_system.blank? %>
            <tr>
              <td colspan="6">
                No <%= params[:option] %> to show
              </td>
            </tr>
          <% end %>
          <%= render partial: "user_adding", collection: @users_system, as: :user %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6">
              <button type="submit" class="btn btn-primary btn-load">
                <i class="fa fa-plus"></i></button>
            </td>
          </tr>
        </tfoot>
      </table>
    <% end %>
  </div>
</div>
