<%= form_for @task, :html => {class: "new-section"}, remote: true do |f| %>
  <%= f.hidden_field :subject_id %>
  <div>
    <div class="edit-field block">
      <div class="form-group">
        <%= f.label :name, t("clubs._form.name") %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
  </div>
  <div>
    <div class="edit-field block">
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-group push-top-md edit-field block">
    <div class="row">
      <div class="col-sm-6"><%= t "clubs._form.require" %></div>
      <div class="col-sm-6 text-right">
        <button id="<%= define_cancel_task_id @task %>" type="button"
          class="btn-cancel btn btn-default" value="<%= @task.id %>">
          Cancel
        </button>
        <%= f.submit "Add", class: "btn-save btn btn-primary btn-load" %>
      </div>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  $('#cancel_task_new').click(function(){
    $('#task-add-id').show();
    $('#new_task').remove();
  });
  $('#cancel_task_edit').click(function(){
    var task_id = $('#cancel_task_edit').val();
    $('#edit_task_'+task_id).remove();
    $('#info_task_'+task_id).show();
  });
</script>
