<div class="box box-primary" id="profile-box" style="max-height: 543px;">
  <div id="profile-content">
    <% if can? :update, @user %>
      <%= link_to edit_profile_path(@user), class: "btn btn-sm btn-default form-btn-edit",
        remote: true do %>
        <i class="fa fa-cog"></i>
      <% end %>
    <% end %>
    <% unless current_user.trainee? %>
      <%= link_to @user, method: :delete, data: {confirm: "Are you sure?"},
        class: "btn btn-sm btn-default form-btn-trash" do %>
        <i class="fa fa-trash"></i>
      <% end %>
    <% end %>
    <div class="box-body">
      <p class="text-muted">
        <strong>Name :</strong> <%= @user.name %>
      </p>
      <hr>
      <p class="text-muted">
        <strong>Email :</strong> <%= @user.email %>
      </p>
      <hr>
      <p class="text-muted">
        <strong>University :</strong> <%= @user.university %>
      </p>
      <hr>
      <p class="text-muted">
        <strong>Program :</strong> <%= @user.program %>
      </p>
      <hr>
      <p class="text-muted">
        <strong>Type :</strong> <%= @user.suppervisor %>
      </p>
      <hr>
      <p class="text-muted">
        <strong>Date Start :</strong> <%= @user.date_start %>
      </p>
      <hr>
    </div>
  </div>
</div>
<style type="text/css">
  .form-btn-edit {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
  }
  .form-btn-trash{
    position: absolute;
    right: 35px;
    top: 0;
    z-index: 10;
  }
</style>
