<div class="box box-primary" id="profile-box" style="max-height: 543px;">
  <div id="profile-content">
    <%= link_to edit_profile_path(@user), class: "btn btn-sm btn-default form-btn-edit", remote: true do %>
      <i class="fa fa-cog"></i>
    <% end %>
    <div class="box-body">
      <p class="text-muted">
        Name : <%= @user.name %>
      </p>
      <hr>
      <p class="text-muted">
        Email : <%= @user.email %>
      </p>
      <hr>
      <p class="text-muted">
        University : <%= @user.university %>
      </p>
      <hr>
      <p class="text-muted">
        Program : <%= @user.program %>
      </p>
      <hr>
      <p class="text-muted">
        Date Start : <%= @user.date_start %>
      </p>
      <hr>
    </div>
  </div>
</div>
<style type="text/css">
  .form-btn-edit {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
  }
</style>
