<div class="login-page">
  <div class="form">
    <%= form_for(:session, :html => {:class => "login-form"}) do |f| %>
      <%= f.email_field :email, placeholder: "email" %>
      <%= f.password_field :password, placeholder: "password" %>
      <%= f.label :remember_me do %>
        <%= f.check_box :remember_me, style: "width: 25px;"%>
        <span>Remember Me</span>
      <% end %>
      <%= f.submit "Login", class: "button" %>
    <% end %>
    <p class="message">Foget password?
      <a href="#">Reset password</a>
    </p>
  </div>
</div>
