<tr>
  <td>
    <% if can? :update && :destroy, user %>
      <%= link_to "", user, method: :delete, data: {confirm: "Are you sure?"}, class: "fa fa-trash" %>
    <% end %>
  </td>
  <td>
    <%= link_to user.name, user , class: "cursor" %>
  </td>
  <td>
    <div class="cursor"><%= user.email %></div>
  </td>
  <td>
    <div class="cursor"><%= user.university %></div>
  </td>
  <td>
    <div class="cursor"><%= user.program %></div>
  </td>
  <td>
    <div class="cursor"><%= user.date_start %></div>
  </td>
</tr>
