<tr>
  <td id="action_block_<%= user.id %>">
    <% if can? :block_user, user %>
      <% if user.active? %>
        <%= link_to "", block_user_path(id: user.id, status: "block"), method: :patch,
          remote: true, class: "fa fa-unlock" %>
      <% else %>
        <%= link_to "", block_user_path(id: user.id, status: "active"), method: :patch,
          remote: true, class: "fa fa-lock" %>
      <% end %>
    <% end %>
  </td>
  <td>
    <%= link_to user.name, user , class: "cursor" %>
  </td>
  <td>
    <div class="cursor"><%= user.email %></div>
  </td>
  <td>
    <div class="cursor"><%= user.gender %></div>
  </td>
  <td>
    <div class="cursor"><%= user.university %></div>
  </td>
  <td>
    <div class="cursor"><%= user.program %></div>
  </td>
  <td>
    <div class="cursor"><%= user.date_start %></div>
  </td>
</tr>
