<% provide :title, "Reset Password" %>
<div class="modal fade login-modal in" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: block;">
  <div class="modal-dialog">
    <div id="div-forms" class="div-forms">
      <div id="login-form">
        <div class="content-top">Reset Password</div>
        <div class="content-body">
          <div class="line-or"></div>
          <div class="form-modal">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= devise_error_messages! %>
              <div class="form-group">
                <%= f.email_field :email, autofocus: true, placeholder: "email", class: "form-control" %>
              </div>
              <%= f.submit "Receive reset password email", class: "btn btn-warning btn-login" %>
            <% end %>
          </div>
          <div class="content-footer">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

