<tr id="subject-<%= subject.id %>">
  <td>
    <% if can? :manage, subject %>
      <%= link_to "", subject, method: :delete, data: {confirm: "Are you sure?"}, class: "fa fa-trash", remote: true %>
      <%= link_to "", edit_subject_path(subject), class: "fa fa-pencil-square-o" %>
    <% end %>
  </td>
  <td>
    <%= link_to subject.name, subject , class: "cursor" %>
  </td>
  <td>
    <div class="cursor"><%= subject.description %></div>
  </td>
  <td>
    <div class="cursor"><%= subject.time %> days</div>
  </td>
  <td>
    <%= subject.tasks.size %>
  </td>
</tr>
