<div class="nested-fields row" style="padding-left: 10px; margin-bottom: 30px;">
  <div>
    <div class="col-xs-5">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="col-xs-5">
      <%= f.label :link_video, "Youtube's code of video" %>
    <a href="https://youtu.be/lRV4kuZEtAY" class="ship-info-ic" data-title="Click HERE to show how to get youtube's code of video" target="_blank"> </a>
      <%= f.text_field :link_video, class: "form-control" %>
    </div>
    <div class="col-xs-2" style="padding-top: 30px;">
      <%= link_to_remove_association f do %>
        <i class="fa fa-trash-o" style="font-size: 23px;"></i>
      <% end %>
    </div>
  </div>
  <div>
    <div class="col-xs-10">
      <%= f.label :description %>
      <%= f.text_area :description, style: "max-width: 100%", class: "form-control" %>
    </div>
  </div>
</div>
