<div class="modal fade login-modal in" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: block;">
  <div class="modal-dialog">
    <div id="div-forms" class="div-forms">
      <div id="login-form" style="position: relative;">
        <div class="content-top">Login</div>
        <div class="content-body">
          <div class="line-or">
            <% if flash.present? %>
              <div class="alert alert-error alert-block" style="color: red;">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <% flash.each do |message_type, message| %>
                  <%= message %>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="form-modal">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group">
                <%= f.email_field :email, autofocus: true, placeholder: "email",
                  class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.password_field :password, autocomplete: "off", placeholder: "password", class: "form-control" %>
              </div>
              <% if devise_mapping.rememberable? -%>
                <div class="checkbox">
                  <%= f.check_box :remember_me %>
                  <label for="user_remember_me"><span></span>Remember Login</label>
                </div>
              <% end %>
              <%= f.submit "Login", class: "btn btn-warning btn-login" %>
            <% end %>
          </div>
          <div class="content-footer">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .alert-login {
    color: #060606;
    font-size: 18px;
    position: absolute;
    top: 133px;
    right: 85px;
    background: #e28787;
  }
</style>
