<div class="rt-tr-group">
  <div class="rt-tr -odd">
    <% owner_info course %>
    <div class="rt-td" style="flex: 62 0 auto; width: 62px; max-width: 62px;">
      <% if can? :update && :destroy, course %>
        <%= link_to "", course, method: :delete, data: {confirm: "Are you sure?"}, class: "fa fa-trash" %>
        <%= link_to "", edit_course_path(course), class: "fa fa-pencil-square-o" %>
      <% end %>
      <div class="text-right"><%= @count %></div>
      <% @count+=1 %>
    </div>
    <div class="rt-td" style="flex: 270 0 auto; width: 270px; max-width: 270px;">
      <%= link_to course.name, course , class: "cursor" %>
    </div>
    <div class="rt-td" style="flex: 200 0 auto; width: 200px; max-width: 200px;">
      <%= link_to @owner.name, root_path , class: "cursor" %>
    </div>
    <div class="rt-td" style="flex: 150 0 auto; width: 150px; max-width: 150px;">
      <% define_stt_index course %>
      <div class="<%= @class %>"><%= course.status %></div>
    </div>
    <div class="rt-td" style="flex: 140 0 auto; width: 140px; max-width: 140px;">
      <div class="cursor"><%= course.organization %></div>
    </div>
    <div class="rt-td" style="flex: 200 0 auto; width: 200px; max-width: 200px;">
      <div class="cursor"><%= course.training_standard %></div>
    </div>
  </div>
</div>
