<tr id="course-<%= course.id %>">
  <% owner_info course %>
  <td>
    <% if can? :update && :destroy, course %>
      <%= link_to "", course, method: :delete, data: {confirm: "Are you sure?"}, class: "fa fa-trash", remote: true  %>
      <%= link_to "", edit_course_path(course), class: "fa fa-pencil-square-o" %>
    <% end %>
  </td>
  <td>
    <%= link_to course.name, course , class: "cursor" %>
  </td>
  <td>
    <%= link_to @owner.name, @owner , class: "cursor" %>
  </td>
  <td>
    <% define_stt_index course %>
      <div class="<%= @class %>"><%= @status %></div>
  </td>
  <td>
      <%= course.program %>
  </td>
  <td>
    <%= course.training_standard %>
  </td>
</tr>
