<li>
  <% @cs = find_cs @course, subject %>
  <span class="label timeline-label start_date_label">
    <%= @cs.date_start %>
  </span>
  <div class="subject-timeline subject">
    <% check_status_cs @cs %>
    <div class="div-status" title=<%= t "courses._status.#{@status}" %>>
      <em class="<%= @class_point %>"></em>
    </div>
    <div class="subject-body clearfix" style="<%= @body_style %>">
      <div class="subject-image">
          <img src="<%= @url %>" class="dp-img-circle">
      </div>
      <div class="infor">
        <div>
          <% if current_user.trainee? %>
            <span class="subject-name"><%= link_to subject.name,
              show_subject_in_course_path(@course, subject) %></span>
          <% else %>
            <span class="subject-name"><%= link_to subject.name, subject %></span>
          <% end %>
        </div>
        <i class="td-subject-description"><%= subject.description %></i>
        <%= form_for (sub_of_course @course, subject) do |f| %>
            <% check_status_btn @cs %>
            <div><%= hidden_field_tag :status, @next_status %></div>
            <%= f.submit t("courses._subject.#{@next_status}"), class: "btn", style: @style_btn %>
        <% end %>
      </div>
    </div>
  </div>
  <% if @cs.finish? %>
    <span class="label timeline-label end_date_label">
       <%= @cs.date_end %>
    </span>
  <% end %>
  <div class="clearfix"></div>
</li>


