<% provide :title, "Courses" %>
<section class="content-header">
  <% show_title_index_course params[:option] %>
  <h1>
    <%= @title %>
    <small>advanced tables</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Tables</a></li>
    <li class="active">Data tables</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Hover Data Table</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example2" class="table table-bordered table-hover dataTable">
            <thead>
              <% display_column_course_index.each do |item| %>
                  <th><%= item.capitalize %></th>
                <% end %>
            </thead>
            <tbody>
              <tr>
                <%= render @courses %>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-sm-5">
              <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                <%= page_entries_info @courses, entry_name: 'course' %>
              </div>
            </div>
            <div class="col-sm-7">
              <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                <%= paginate @courses, :outer_window => 3 %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

