<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag "logo.png" %>
    <%= render "layouts/rails_default" %>
    <%= render "layouts/shim" %>
  </head>

  <body class="hold-transition skin-blue sidebar-mini ">
    <div class="wrapper">
      <%= render "layouts/trainee/header" %>
      <%= render "layouts/trainee/asside" %>
      <div class="content-wrapper" style="min-height: 642px; padding-top: 50px;">
        <div class="clearfix">
          <script type="text/javascript">
            <% flash.each do |message_type, message| %>
              <% if message_type == "success" %>
                alertify.success('<%= message %>');
             <% elsif message_type == "danger" %>
                alertify.error('<%= message %>');
              <% else %>
                alertify.notice('<%= message %>');
              <% end %>
            <% end %>
          </script>

          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
